<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Nunito:300,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/styles.css">
    <title>{{ page.title }}</title>
  </head>
  <body>
    
    {% include header.html %}

    <div id="content" class="site-content">
      <div id="primary" class="content-area">
        <main id="main" class="site-main">

          {{ content }}

          <ul>
            {% for post in site.posts %}
              <li>
                <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
              </li>
            {% endfor %}
          </ul>

        </main> 
      </div> 
    </div>

    {% include footer.html %}

  </body>
</html>