<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Nunito:300,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/styles.css">
    <title>{{ page.title }}</title>
  </head>
  <body class="home-template">
    
    {% include header.html %}

    <div id="content" class="site-content">
      <div id="primary" class="content-area">
        <main id="main" class="site-main">    

          {% for post in site.posts %}

          <article class="post">
            <header class="post-header">
              <span class="post-meta">Meta</span>
              <h2 class="post-title">
                <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
              </h2>
            </header>
            <section class="post-excerpt">
              {{ post.content | truncatewords: 25 }}
            </section>
          </article>
          
          {% endfor %}

        </main> 
      </div> 
    </div>

    {% include footer.html %}

  </body>
</html>