<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="description" content="{{ page.excerpt | strip_html }}" />
    <link href="https://fonts.googleapis.com/css?family=Nunito:300,600&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/styles.css" />
    <title>{{ page.title }}</title>
  </head>
  <body class="post-template">

    <div id="content" class="site-content">
      <div id="primary" class="content-area">
        <main id="main" class="site-main">

          <div class="custombtn">
            <a class="btn" href="{{ site.baseurl }}">Atras</a>
          </div>
          {% capture words %}
            {{ page.content | number_of_words }}
          {% endcapture %}
          <article class="post">
            <header class="post-header">
              <span class="post-meta">
                {% include date-post.html %} – {{ words | divided_by: 180 | append: " minutos de lectura"}}
              </span>
              <h1 class="post-title">
                {{ page.title }}
              </h1>
            </header>
            <section class="post-content">
              {{ content }}
            </section>
          </article>

        </main>
      </div>
    </div>

    {% include footer.html %}
    
  </body>
</html>
